.profile-btn {
    width: auto;
    height: 1.2rem;
    background-color: transparent;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border: none;
    font-size: .6rem;
}

.profile-name {
    color: #FFF;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.profile-btn:hover > .profile-name {
    background: -webkit-linear-gradient(rgb(176, 33, 37) 30%, rgb(255, 215, 38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.profile-name::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-shadow:   
      -0.5px 0.5px 0 #000,  
      -1.0px 1px 0 #000,
      -1.5px 1.5px 0 #000,
      -2px 2px 0 #000;
}

.profile-btn.selected {
    margin-bottom: 10px;
}

.profile-stats {
    text-align: left;
    margin-bottom: 6px;
    font-size: .6rem;
    text-transform: uppercase;
}

.profile-stats-container {
    background-color: rgba(0,0,0,0.1);
}