.profile-btn {
    width: auto;
    height: 1.2rem;
    background-color: transparent;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border: none;
    font-size: .6rem;
}

.profile-name {
    display: block;
    margin-bottom: 10px;
}

.profile-btn:hover {
    background: -webkit-linear-gradient(rgb(255, 18, 18) 30%, rgb(255, 215, 38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.profile-btn:hover:before {
    content: "▶";
}

.profile-btn.selected {
    margin-bottom: 10px;
}

.profile-btn.selected::before {
    content: "▶";
}

.profile-stats {
    text-align: left;
    margin-bottom: 6px;
    font-size: .6rem;
    text-transform: uppercase;
}

.profile-stats-container {
    background-color: rgba(0,0,0,0.1);
}