.kitty-profiles-subtitle-container {
	color: #FFF;
	margin-bottom: 16px;
	font-size: .5rem;
	text-align: center;
}

.kitty-profiles-img-container {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	display: block;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 115%;
}

.kitty-profile-names-container {
	color: #FFF;
	margin: 0 auto;
	position: relative;
	display: table;
}

.kitty-profile-img {
	width: 100%;
	height: auto;
}