#root {
  text-align: center;
  font-size: 10px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.logo {
  position: fixed;
  width: 100px;
  left: 50vw;
  bottom: -25px;
  margin-left: -50px;
  z-index: 1;
}

.wrapper-container {
  position: absolute;
  right: 30px;
  top: 60px;
  display: block;
  z-index:1;
}

.wrapper-left-container {
  position: fixed;
  left: 63px;
  top: 60px;
  display: flex;
  flex-direction: column;
}

.wrapper-right-container {
  position: fixed;
  right: 30px;
  top: 60px;
  width: 120px;
  display: flex;
  flex-direction: column;
}

.title-container {
  margin-bottom: 8px;
  font-size: .8rem;
  text-align: left;
}

.title-container > p {
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  position: relative;
  background: -webkit-linear-gradient(rgb(255, 18, 18) 30%, rgb(255, 215, 38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0px;
}

.title-container > p::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow:   
    -0.5px 0.5px 0 #000,  
    -1.0px 1px 0 #000,
    -1.5px 1.5px 0 #000,
    -2px 2px 0 #000;
}

.subtitle-container {
  margin-bottom: 8px;
  font-size: .5rem;
  text-align: left;
}

@media (max-width: 1000px) {
  .wrapper-left-container {
    position: initial;
    display: block;
  }
  
  .wrapper-right-container {
    position: initial;
    display: block;
  }
}