.base-btn {
  width: auto;
  height: 1.2rem;
  background-color: transparent;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: none;
}

.base-btn.selected {
  margin-bottom: 10px;
}

.menu-item-btn {
  font-size: .7rem;
}

.btn-text {
  color: #FFF;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  position: relative;
}

.base-btn:hover > .btn-text {
  background: -webkit-linear-gradient(rgb(255, 18, 18) 30%, rgb(255, 215, 38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.base-btn:not(.selected):hover:before {
  content: "▶";
  position: relative;
  right: 8px;
  color: #FF1212;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  text-shadow:   
  -0.5px 0.5px 0 #000,  
  -1.0px 1px 0 #000,
  -1.5px 1.5px 0 #000,
  -2px 2px 0 #000;
}

.btn-text:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow:   
    -0.5px 0.5px 0 #000,  
    -1.0px 1px 0 #000,
    -1.5px 1.5px 0 #000,
    -2px 2px 0 #000;
}

.menu-title {
  display: block;
}

h1 {
  font-size: .6rem !important; 
  text-transform: uppercase;
  height: 1.2rem !important;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  margin: 0px 0px 10px 0px;
}